* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    background: #f2f2f2;
}

.nav-bar {
    font-family: 'Marcellus', serif, sans-serif;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.links {
    list-style: none;
}

.links a {
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: block;
    padding: 10px 5px;

}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar a {
    text-decoration: none;
}

.active {
    background-color: #f96d00;
    opacity: 0.7;
    border-radius: 5px;
}


.links li {
    list-style: none;
    margin-right: 100px;
}

.logo {
    margin-left: 50px;
    margin-top: 20px;
}

.game-buttons {
    padding: 0 50px;
    margin-top: 30px;
}

button {
    cursor: pointer;
    height: 80px;
    font-family: 'Marcellus', serif, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #393e46;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    user-select: none;
    touch-action: manipulation;
}

.display-none {
    display: none;
}

legend {
    border-radius: 15px;
    text-align: center;
    background-color: #f96d00;
    padding: 4px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #f96d00;
    padding-bottom: 40px;
    margin: 40px;
}

.game {
    min-width: 100%;
    max-height: 100%;
    overflow: clip;
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-box {
    flex-direction: column;
}

.card .back-view img {
    max-width: 100px;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card .front-view img {
    max-width: 100px;
    background-color: #f2f2f2;
}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.memory-game {
    height: 700px;
    width: 700px;
    background: #f96d00;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
}


.cards .card .view {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    box-shadow: 0 3px 8px #000000;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    pointer-events: none;
    user-select: none;
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }

}

/*-----footer css-----*/

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

footer>a {
    font-size: 20px;
    color: #f96d00;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
}


footer>p {
    color: #000000;
    font-family: 'Marcellus', serif, sans-serif;
    padding: 10px;
}

/*-----clock css-------*/

.clock {
    font-family: 'Marcellus', serif, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    background-color: #f96d00;
}

.clock span {
    font-weight: 700;
}

.clock p {
    margin: 0 auto;
}

/*------radio buttons------*/

input[type="radio"] {
    cursor: pointer;
}

.levels i {
    font-weight: 400;
    font-size: 25px;
}

.levels {
    text-align: center;
}

.game-buttons {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

fieldset {
    display: flex;
    padding: 40px;
    border: none;
    border-radius: 5px;
    justify-content: space-around;
    background: #f96d00;
}

/*------rules section css------*/

p {
    font-family: 'Marcellus', serif, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    display: block;
    line-height: 50px
}

.rules-heading {
    text-align: center;
    font-family: 'Marcellus', serif, sans-serif;
    padding: 50px;
}

/* --------media queries tablet----------*/
@media screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .nav-bar {
        height: 200px;

    }

    #title {
        font-size:  30px;
        padding: 30px;
    }



    .game-buttons {
        width: 100%;
        font-size: 20px;
        height: 50px;
    }

    .logo {

        display: none;
    }

    .nav-bar a {
        font-size: 10px;
    }


    .clock {
        padding: 0px 20px 10px 10px;
        height: 100%;
        width: 200px;
        font-weight: 100;
        text-align: center;
    }

    .clock span {
        font-weight: 100;
    }

    .clock p {
        font-size: 20px;
    }

    .nav-bar li {
        float: right;
        margin-right: 30px;
    }

    button {
        font-size: 20px;
        margin: 0 auto;
        height: 20px;
        padding: 0 10px;
    }

    legend {
        font-size: 10px;
    }

    fieldset {
        padding: 0 3px 3px 3px;
    }

    fieldset label {
        font-size: 10px;
        padding-right: 2px;
    }

    section {
        padding: 0 10px;
    }

    .level {
        font-size: 10px;
        width: 25%;
    }

    .level i {
        font-size: 10px;
    }

    .memory-game {
        width: 600px;
        height: 600px;
    }

    .card .back-view img {
        width: 100%;
    }

    .card .front-view img {
        max-width: 100%;
    }

    h2 {
        padding-bottom: 5px;
    }




}

/* --------media queries telephone----------*/
@media screen and (max-width: 572px) {
    .nav-bar {
        font-size: 100%;
    }

    .nav-bar li {
        float: right;
        margin-right: 30px;
    }

    button {
        font-size: 20px;
        margin: 0 auto;
        height: 20px;
        padding: 0 10px;
    }

    legend {
        font-size: 5px;
    }

    fieldset {
        padding: 0 3px 3px 3px;
    }

    fieldset label {
        font-size: 10px;
        padding-right: 2px;
    }

    section {
        padding: 20px;
    }

    .clock {
        padding: 0px 20px 10px 10px;
        height: 100%;
        width: 25%;
        font-weight: 100;
        text-align: center;
    }

    .clock span {
        font-weight: 100;
    }

    .clock p {
        font-size: 9px;
    }

    .level {
        font-size: 10px;
        width: 25%;
    }

    .level i {
        font-size: 5px;
    }

    .memory-game {
        width: 400px;
        height: 400px;
    }

    .card .back-view img {
        width: 100%;
    }

    .card .front-view img {
        max-width: 100%;
    }

    h2 {
        padding-bottom: 5px;
    }



}

/*------------media queries small phone---------*/
@media screen and (max-width: 392px) {

    .card .back-view img {
        max-width: 100%;
    }

    .card .front-view img {
        max-width: 100%;
    }

    .cards .card {
        height: calc(100% / 4 - 6px);
        width: calc(100% / 4 - 6px);
    
    }

    .clock {
        padding: ;
        height: 100%;
        width: 100px;
        font-weight: 100;
        text-align: center;
    }

    .clock span {
        font-weight: 100;
    }

    .clock p {
        font-size: 10px;
    }

    .memory-game {
        width: 300px;
        height: 300px;
    }

}