* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    min-height : 100vh;
    background: #FCE28C; 
}

.nav-bar {
    font-family: 'Marcellus', serif;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #FC520A;

}

.links {
    list-style: none;
}

.links a {
    font-weight:400;
    text-decoration: none;
    color: #000000;
    font-size :20px;
    display : block;
    padding : 20px;

}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar a {
    text-decoration: none; 
}

.card .back-view img {
    max-width: 100px;
}

.card .back-view {
   transform: rotateY(-180deg);
}

.card .front-view img{
    max-width: 50px;
    background-color: #F95813;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.wrapper{
    height: 700px;
    width: 700px;
    background : #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.cards .card .view{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 3px 8px #000000;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    pointer-events: none;
    user-select: none;
}

.card.flip .back-view{
    transform: rotateY(0);
}

.card.flip .front-view{
    transform: rotateY(180deg);
}

.card.shake{
    animation:shake 0.35s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}
/*-----footer css-----*/

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

footer > a {
    font-size: 20px;
    color: #F95813;
    padding: 5px 10px;
    text-decoration: none;
}

footer > p {
    color: #000000;
    font-family: font-family: 'Marcellus', serif;
    padding: 10px;
}